.not-page {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

    .page-title {
        margin-bottom: 24px;
        font-size: 56px;
        font-weight: 900;
        line-height: 1;
    }

    .page-desc {
        font-size: 24px;
        line-height: 1.33;
    }
}