.checkout-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.09);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .checkout-modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    max-width: 80%;
    text-align: center;
  }

  .btn-checkout{
    width: 170px;
    height: 45px;
    background-color: #444444;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .15s;
    margin-right: 15px;
    margin-left: 15px;
  }

  .btn-checkout:hover{
    background-color: #ab6bdc;
}